@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@theme {
  /* Negro profundo para fondos */
  --color-brand-black: #050505; 
  /* Blanco puro para textos principales */
  --color-brand-white: #ffffff;
  /* Dorado elegante (Gold Dust) */
  --color-brand-gold: #d4af37;
  /* Dorado claro para efectos de brillo */
  --color-brand-gold-light: #f1d592;
  
  /* Tipografía Tecnológica Formal */
  --font-tech: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  font-family: var(--font-tech);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}