@import "tailwindcss";

@theme {
  /* Negro profundo para fondos */
  --color-brand-black: #050505; 
  /* Blanco puro para textos principales */
  --color-brand-white: #ffffff;
  /* Dorado elegante (Gold Dust) */
  --color-brand-gold: #d4af37;
  /* Dorado claro para efectos de brillo */
  --color-brand-gold-light: #f1d592;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  font-family: 'Inter', sans-serif;
}